/* You can edit this whole file.
*/

/*** ⚠️ Before diving into corrections, it's important to note two key considerations regarding this repository: ⚠️***/

/* 1) Layout Precision vs. Scalability: While I strived to achieve maximum alignment with the three layouts provided, prioritizing
pixel-perfect precision would require the use of non-scalable solutions, such as extensive reliance on nth-child selectors for card 
components. To maintain clean, reusable, and maintainable code, I chose to balance precision with scalability.

2) Variable Multipliers for Layout Accuracy: To achieve the closest match to the design specifications, I used multipliers with the 
--spacer variables. This approach ensured flexibility while minimizing hardcoded values and preserving the project's adaptability for
future adjustments.*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --gray-0: #000000;
  --gray-1: #222222;
  --gray-2: #dddddd;
  --gray-3: #fbfbfb;
  --gray-4: #ffffff;
  --primary: #8a2be2;
  --secondary: #20d397;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, .15);
}

html {
  font-size: 16px;
  line-height: 1.44;
  background-color: var(--gray-3);
  color: var(--gray-1);
}

.navbar {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  color: var(--gray-2);
  font-weight: var(--font-weight-heavy);
  align-items: center;
  padding: var(--spacer-2);
}

h1 {margin: calc(1.07 * var(--spacer-4)) 0 calc(1.07 * var(--spacer-4)) calc(4.28 * var(--spacer-5));
  
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-1);
  letter-spacing: calc(var(--spacer-1) / 10000);
}

.navbar__left {
  display: flex;
  column-gap: var(--spacer-3);
  align-items: center;
  margin-left: calc( 4 * var(--spacer-5));
}

.navbar__left img {
  height: var(--spacer-5);
  width: auto;
}

.navbar__right {
  display: flex;
  ul {
    
    display: flex;
    list-style: none;
    column-gap: var(--spacer-5);

    li:nth-child(2) {
      border-bottom: calc( var(--spacer-1) / 2) solid var(--gray-2);
      padding-bottom: 5px;
    }
    a {
      text-decoration: none;
      color: var(--gray-2);
      font-weight: var(--font-weight-heavy);
    }
  }
  margin-right: calc( 4 * var(--spacer-5));
}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  column-gap: calc( 1.001 * var(--spacer-5));
  align-content: center;
  justify-content: center;
  margin: 0 calc(3.4  * var(--spacer-5)) 0 calc(3.8 * var(--spacer-5));
  padding-bottom: calc(8.3 * var(--spacer-5));
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-2);
  box-shadow: var(--shadows);
  padding: var(--spacer-3) calc(1.7 * var(--spacer-1)) var(--spacer-3) var(--spacer-3);
  width: 30%;
  gap: var(--spacer-3);
  position: relative;
  background-color: var(--gray-3);
}

.card a {
  justify-content: center;background-color: var(--primary);
  color: var(--gray-4);  
  text-decoration: none;
  padding: var(--spacer-2) var(--spacer-3);
  margin-top: var(--spacer-2);
  display: inline-block;
}

.card .button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-2);
  background-color: var(--primary);
  color: var(--gray-4);
  text-decoration: none;
  padding: var(--spacer-2) var(--spacer-3);
}

p {
  display: inline;
  word-spacing: calc(0.01 * var(--spacer-1));
  text-align: left;
  font-size: calc(1 * var(--font-size-3));
  margin-right: calc(0.6 * var(--spacer-1));
  letter-spacing: calc(var(--spacer-1) / 100000);
  word-break: keep-all;
} 

.cards__container .card h2 {
  text-align: left;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-2);
  letter-spacing: calc(var(--spacer-1) / 10);
}

.card .button {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: auto;
  align-self: stretch;
  gap: var(--spacer-2);
  padding-right: var(--spacer-2);
}

.button img {
  height: var(--font-size-3);
  width: auto;
}

@media (max-width: 768px) {
  .cards__container {
    flex-direction: column;
    margin: 0 calc(1 * var(--spacer-3)) 0 var(--spacer-3);    
  }
  h1 {
    margin-left: var(--spacer-3);
  }
  .card {
    width: 100%;
    margin-bottom: var(--spacer-4);
    padding-left: var(--spacer-3);
  }

  .navbar__left {
    margin-left: calc(2 * var(--spacer-1));
  }
  .navbar__right {
    margin: var(--spacer-2) var(--spacer-2) 0 0;
    align-items: center;
  }
  .card p {
    font-size: calc(0.95 * var(--font-size-4));
    padding-right: var(--spacer-3);
  }
  .card .button {
    margin-left: var(--spacer-1);
  }
}